html {
    background: #000000;
}

* {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

table {
    border-collapse: seperate;
    border-spacing: 100px 20px;
    background-color: black;
    }

td {
    background-color:white;
    border: 1px solid black;
    padding: 5px;
}

th {
	background-color: #C0392B;
	color: black;
}